{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3 mt-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Customer Car Details
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p><strong>VIN:</strong> {{ customer_car.vin }}</p>
                    <p><strong>IMEI:</strong> {{ customer_car.imei }}</p>
                    <p><strong>Name:</strong> {{ customer_car.name }}</p>
                    <p><strong>Renter Name:</strong> {{ customer_car.renter_name }}</p>
                    <p><strong>Monthly Limit:</strong> {{ customer_car.monthly_limit }}/mi</p>
                    <p><strong>Oil Change:</strong> {{ customer_car.oil_change }}/mi</p>
                    <p><strong>Financial:</strong> ${{ customer_car.financial }}</p>
                    <p><strong>Status:</strong> {{ customer_car.status }}</p>
                    {% if customer_car.car_image %}
                        <img width="300" height="200" src="{{ customer_car.car_image.url }}" alt="Car Image" class="img-fluid">
                    {% endif %}
                    <form action="{% url 'delete_car' customer_car.id %}" method="POST" class="mt-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
