{% extends 'base.html' %}
{% block content %}
<style>
    .col {
        background-color: #242425;
        width: 200px;
        height: 170px;
        color: #fff;
        text-align: center;
        margin: 10px;
        border-radius: 20px;
    }
</style>
<h1>Dashboard</h1>
<div class="container overflow-hidden text-center">
    <div class="row gx-5">
        {% for car in cars %}
        <div class="col">
            <div class="p-3">{{ car.name }}</div>
            <div class="p-3">{{ car.renter_name }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
