{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<style>
    body{
        background-color: #191919;
    }
    h1{
        color: white;
        font-weight: 400;
    }
    
</style>



<div class="dash-top-buttons">
    <button class="active-button"><img src="{% static 'images/dashboard.svg' %}" alt="Dashboard Icon">Dashboard</button>
    <button onclick="openModal()" id="supportBtn" class="support-button"><img src="{% static 'images/headphone.svg' %}" alt="Dashboard Icon"> Support</button>
</div>
<br>
<div class="dashboard-row-first">
    <h1>Client dashboard</h1>
    <div class="dashboard-buttons">
        <button><img src="{% static 'images/calendar.svg' %}" alt="Calendar Icon">22-27 Jan, 2024</button>
        <button><img src="{% static 'images/report.svg' %}" alt="Report Icon">Create report</button>
    </div>
</div>


<div class="recent-car-row">
    <div class="car">
        <div class="main-row">
            <img src="{% static 'images/car-1.png' %}" alt="Dashboard Icon">
            <div class="recent-car">
                <h4 class="car-title">Toyota Camry</h4>
                <p class="car-subtitle">Azamat</p>
            </div>
        </div>
        <div class="recent-car-status">
            <h4 class="car-title">Available</h4>
            <p class="car-subtitle">VIN: AKJSFNWNJLFN</p>
        </div>
    </div>
    
    <div class="car">
        <div class="main-row">
            <img src="{% static 'images/car-1.png' %}" alt="Dashboard Icon">
            <div class="recent-car">
                <h4 class="car-title">Toyota Camry</h4>
                <p class="car-subtitle">Azamat</p>
            </div>
        </div>
        <div class="recent-car-status">
            <h4 class="car-title">Available</h4>
            <p class="car-subtitle">VIN: AKJSFNWNJLFN</p>
        </div>
    </div>
    <div class="car">
        <div class="main-row">
            <img src="{% static 'images/car-1.png' %}" alt="Dashboard Icon">
            <div class="recent-car">
                <h4 class="car-title">Toyota Camry</h4>
                <p class="car-subtitle">Azamat</p>
            </div>
        </div>
        <div class="recent-car-status">
            <h4 class="car-title">Available</h4>
            <p class="car-subtitle">VIN: AKJSFNWNJLFN</p>
        </div>
    </div>
    <div class="car">
        <div class="main-row">
            <img src="{% static 'images/car-1.png' %}" alt="Dashboard Icon">
            <div class="recent-car">
                <h4 class="car-title">Toyota Camry</h4>
                <p class="car-subtitle">Azamat</p>
            </div>
        </div>
        <div class="recent-car-status">
            <h4 class="car-title">Available</h4>
            <p class="car-subtitle">VIN: AKJSFNWNJLFN</p>
        </div>
    </div>
</div>





<div class="main-part">
    <div class="financial">
        <h1 class="financial-title">Financial</h1>
        {% for car in cars  %}
        <br>
        <div class="under-line">
            <div class="main-row">
                <img src="{% static 'images/car-1.png' %}" alt="Dashboard Icon">
                <div class="recent-car">
                    <h4 class="car-title">{{ car.name }}</h4>
                    <p class="car-subtitle">{{ car.renter_name }}</p>
                </div>
            </div>
            <div class="percent">+10.56%
                <h5>{{ car.financial }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="right-row">
        <div class="chart">
            <h1 class="financial-title">Chart</h1>
        </div>
        <div class="inside-right-row">
            <div class="oil-change">
                <h1 class="financial-title">Oil-change</h1>
            </div>
            <div class="oil-change">
                <h1 class="financial-title">Maintenance history</h1>
            </div>
        </div>
    </div>
</div>

<br>
<br>


<div id="modal" class="supportModal">
    <p>Call us</p>
    <button onclick="closeModal()" id="closeSupport">Close</button>
</div>

<script>
    var supportButton = document.getElementById("supportBtn");
    var modal = document.getElementById("modal");
    var closeSupportBtn = document.getElementById("closeSupport");


    function openModal(){
        modal.style.display = "block";
    }

    function closeModal(){
        modal.style.display = "none";
    }


    
</script>

{% endif %}
{% endblock %}
