{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 offset-md-2">
    {% if user.is_authenticated %}
        <h1>Cars...</h1>
        {% if cars %}
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">VIN</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Name</th>
                        <th scope="col">Renter</th>
                        <th scope="col">ML</th>
                        <th scope="col">OL</th>
                        <th scope="col">Financial</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <th scope="row"> <a href="{% url 'car' car.id %}">{{ car.id }}</th>
                        <td>{{ car.vin }}</td>
                        <td>{{ car.imei }}</td>
                        <td>{{ car.name }}</td>
                        <td>{{ car.renter_name }}</td>
                        <td>{{ car.mountly_limit }}/mi</td>
                        <td>{{ car.oil_change }}/mi</td>
                        <td>${{ car.financial }}</td>
                        <td>{{ car.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No cars available.</p>
        {% endif %}
    {% else %}
        <h1>Login</h1>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    {% endif %}
</div>
{% endblock %}
